.content {
    margin: 200px auto 0;
    max-width: 400px;
    max-height: 600px;
    padding: 15px;
    border: 0.1px solid black;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_username {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & label {
                margin-bottom: 15px;
            }
        }
        &_password {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & label {
                margin: 15px 0;
            }
        }
        &_error {
            color: red;
            font-size: 12px;
        }
    }
        &__btn {
            max-width: 180px;
            margin-top: 15px;
        }
}
