.content {
    margin: 200px auto 0;
    max-width: 400px;
    max-height: 600px;
    padding: 15px;
    border: 0.1px solid black;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_error {
            color: red;
            font-size: 12px;
        }
    }
        & button {
            margin-top: 15px;
        }
}
