.heroCard {
  width: 350px;
  min-height: 450px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
  &:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
  &__content {
    
  }
}

