.heroCard {
  width: 350px;
  height: 450px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
  position: relative;
  &__front, &__back {
    transition: 0.5s;
    backface-visibility: hidden;
  }
  &:hover {
    & .heroCard {
      &__front {
        transform: rotateY(180deg);
      }
      &__back {
        transform: rotateY(360deg);
      }
    }
  }
  &__front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  &__back {
    transform: rotateY(180deg);
  }
  &__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  &__name {
    margin-top: 10px;
  }
}

