.heroes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  &__title {
    
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
  }
}

